#main {
    width: 600px;
    height: 400px;
    margin: auto;
    padding-top: 200px;
    text-align: center;
    border-radius: 20px;
}
#Quote {
    font-size: 25px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}
#author {
    font-size: 30px;
    font-weight: bolder;
}
button {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    font-family: cursive;
}
#display {
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 24px;
}